@model WebApplication1.DTO.SupplierDTOs.SupplierAddRequest
@{
    ViewBag.Title = "Add Supplier";
}


<a asp-controller="Supplier" asp-action="Index" class="link-hover">Back to Suppliers List</a>
<div class="mt-2" style="width:50%">
    <form asp-controller="Supplier" asp-action="AddSupplier" method="post">
        <h2>Add Supplier</h2>
        <div class="mb-3">
            <label asp-for="SupplierName" class="form-label">Name</label>
            <input asp-for="SupplierName" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="SupplierName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Tid" class="form-label">Taxpayer ID</label>
            <input asp-for="Tid" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Tid"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label">Phone number</label>
            <input asp-for="Phone" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Phone"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="Email" aria-describedby="emailHelp">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryName" class="form-label">Supplier Category</label>
            <select asp-for="CategoryName" id="categorySelect" class="form-select">
                <option>Select</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Description">@category.Description</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="CategoryName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CountryName" class="form-label">Supplier Country</label>
            <select asp-for="CountryName" id="countrySelect" class="form-select">
                <option>Select</option>
                @foreach (var country in Model.Countries)
                {
                    <option value="@country.CountryName">@country.CountryName</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="CountryName"></span>
        </div>

        <div class="mb-3">
            <label asp-for="IsActive" class="form-label">Is Active Supplier?</label>
            <select asp-for="IsActive" class="form-select">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        

        @if(TempData["msg"] != null)
        {
            <div class="mb-3">
               @TempData["msg"];
            </div>
        }

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="" class="btn btn-primary">All Suppliers</a>
    </form>
</div>

