@model WebApplication1.DTO.SupplierDTOs.SupplierUpdateRequest
@{
    ViewBag.Title = "Edit Supplier";
}


<a asp-controller="Supplier" asp-action="Index" class="link-hover">Back to Suppliers List</a>
<div class="mt-2" style="width:50%">
    <form asp-controller="Supplier" asp-action="EditSupplier" method="post">
        <h2>Edit Supplier</h2>
        <input type="hidden" asp-for="SupplierId">
        <div class="mb-3">
            <label asp-for="SupplierName" class="form-label">Name</label>
            <input asp-for="SupplierName" type="text" class="form-control" id="supplierNameInput">
            <span class="text-danger" asp-validation-for="SupplierName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Tid" class="form-label">Taxpayer ID</label>
            <input asp-for="Tid" type="text" class="form-control" id="tidInput">
            <span class="text-danger" asp-validation-for="Tid"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label">Phone number</label>
            <input asp-for="Phone" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Phone"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="Email" aria-describedby="emailHelp">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryName" class="form-label">Supplier Category</label>
            <select asp-for="CategoryName" id="categorySelect" class="form-select">
                <option value="">Select</option>
                @foreach (var category in Model.Categories)
                {
                    if (Model.CategoryName == category.Description)
                    {
                        <option value="@category.Description" selected>@category.Description</option>
                    }
                    else
                    {
                        <option value="@category.Description">@category.Description</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="CategoryName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CountryName" class="form-label">Supplier Country</label>
            <select asp-for="CountryName" id="countrySelect" class="form-select">
                <option value="">Select</option>
                @foreach (var country in Model.Countries)
                {
                    if (Model.CountryName == country.CountryName)
                    {
                        <option value="@country.CountryName" selected>@country.CountryName</option>
                    }
                    else
                    {
                        <option value="@country.CountryName">@country.CountryName</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="CountryName"></span>
        </div>

        <div class="mb-3">
            <label asp-for="IsActive" class="form-label">Is Active Supplier?</label>
            <select asp-for="IsActive" class="form-select" id="isActiveSelect">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>


        @if (TempData["msg"] != null)
        {
            <div class="mb-3">
                @TempData["msg"];
            </div>
        }

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="" class="btn btn-primary">All Suppliers</a>
    </form>
</div>


<script>
    
    const isActiveSelect = document.getElementById('isActiveSelect');
    const supplierNameInput = document.getElementById('supplierNameInput');
    const tidInput = document.getElementById('tidInput');

    
    function updateDisabledFields() {
        const isActive = isActiveSelect.value === "true";
        supplierNameInput.disabled = !isActive;
        tidInput.disabled = !isActive;
    }

    updateDisabledFields();

    isActiveSelect.addEventListener('change', updateDisabledFields);
</script>
